.nav__link:hover {
  color: var(--text-color);
}

.nav__link--text {
  position: relative;
  width: auto; 
}

.nav__link--text:after {
  content: "";
  position: absolute;
  left: -5px;
  right: 5px;
  top: 40%;
  height: 70%;
  width: calc(100% + 10px);
  opacity: 0.5;
  background-image: linear-gradient(var(--first-color),  var(--first-color));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size .5s;
  z-index: -1;
}

.nav__link--text:hover:after {
  background-size: 100% 100%;
}

.projects__container {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
}

.project__infos__description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  height: 75px;
}

.skills__title {
  font-weight: var(--font-semi-bold);
  font-size: 2.25rem;
  color: var(--first-color);
  opacity: 0.2;
  text-transform: uppercase;
  letter-spacing: 2.5rem;
}

.skills__list {
  grid-template-columns: repeat(auto-fill, minmax(calc(25% - 2rem), 1fr));
}

.contact__informations {
  flex-direction: row;
}


/*==================== Footer ====================*/
.footer {
  flex-direction: row;
  gap: 0;
}

.footer__made_with {
  position: relative;
  top: -5px;
}