:root {
  --header-height: 5rem;

  --big-font-size: 5rem;
  --h1-font-size: 3rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.5rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
}

.sticky {
  position: fixed !important;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

.section {
  scroll-margin: calc(var(--header-height) + 2rem);
}

.section__title {
  margin-bottom: var(--mb-5);
}

.header {
  position: relative;
  top: 0;
  bottom: auto;
  z-index: var(--z-header);
}

.nav__logo {
  font-size: var(--h3-font-size);
}
.nav__icon,
.nav__btns {
  display: none;
}
.nav__link {
  font-size: var(--normal-font-size);
}

.section__about {
  position: relative;
  /* padding: 2rem 0 4rem; */
  row-gap: 3rem;
}

.bubbles__container {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
}

.bubbles__container :first-child {
  height: 100px;
  width: 100px;
  animation-duration: 20s;
  top: 55%;
  left: 80%;
  opacity: 0.25;
}

.bubbles__container :nth-child(2) {
  height: 300px;
  width: 300px;
  animation-duration: 60s;
  top: 35%;
  left: 30%;
}
.bubbles__container :nth-child(3) {
  height: 150px;
  width: 150px;
  animation-duration: 30s;
  top: 27%;
  left: 2%;
  opacity: 0.45;
}
.bubbles__container :nth-child(4) {
  height: 50px;
  width: 50px;
  animation-duration: 10s;
  top: 30%;
  left: 100%;
  opacity: 0.4;
}

.bubble {
  position: absolute;
  border-radius: 50%;
  background-color: var(--first-color);
  filter: blur(5px);
  opacity: 0.3;
  animation: move-around 3s linear infinite;
}

@keyframes move-around {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(25deg);
  }
  40% {
    transform: rotate(35deg);
  }
  50% {
    transform-origin: 1px 1px;
  }
  60% {
    transform: rotate(-35deg);
  }
  80% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(0);
  }
}

.about__speech {
  margin-bottom: var(--mb-2);
}

.about__studies_status {
  margin-bottom: var(--mb-1.5);
}

.cta__scroll_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
  align-items: center;
}

.cta__scroll_arrow {
  width: 2rem;
  height: 3.2rem;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transform-origin: bottom;

  animation-name: bounce;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-30%);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7%);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

.projects__container {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;
}

@media screen and (min-width: 768px) {
  .skills__title {
    font-weight: var(--font-semi-bold);
    font-size: 3rem;
    color: var(--first-color);
    opacity: 0.2;
    text-transform: uppercase;
    letter-spacing: 3rem;
  }

  .skills__list {
    grid-template-columns: repeat(auto-fill, minmax(calc(15% - 2rem), 1fr));
  }
}

.contact__mail {
  font-size: var(--h2-font-size);
}

/*==================== Footer ====================*/
.footer {
  padding-bottom: 1.5rem;
}
